body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MuseoSans100;
    src: url(../MuseoSans/MuseoSans-100.otf);
}

@font-face {
    font-family: MuseoSans300;
    src: url(../MuseoSans/MuseoSans-300.otf);
}

@font-face {
    font-family: MuseoSans500;
    src: url(../MuseoSans/MuseoSans_500.otf);
}

@font-face {
    font-family: MuseoSans700;
    src: url(../MuseoSans/MuseoSans_700.otf);
}

.header-text1{
    color: #96151D;
    font-family: MuseoSans700;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
}

.header-text2{
    color: #000000;
    font-family: MuseoSans700;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
}

.header-logo{
    display: flex;
    gap: 12px;
}


.login-icon a{
    text-decoration: none;
    font-family: MuseoSans700;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.login-icon a:hover{
    color: #fff;
}
.login-icon{
    border-radius: 8px;
    background: #96151d;
    padding: 3px 22px;
    display: inline-block;
}

.whatsapp-icon{
    font-family: MuseoSans700;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}

.whatsapp-text1{
    color: #96151d;
}

.whatsapp-text2{
    color: #26282B;
}

.whatsapp-icon{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.header-rightside{
    text-align: end; 
}

.header-section{
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.hero-seciton{
    background-image: url(../images/hero-section.jpg);  
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-section-text1{
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.42 ));
    font-family: MuseoSans300;
    font-size: 40px;
    font-weight: normal;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
}

.hero-section-text2{
    font-size: 50px;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    font-family: MuseoSans500;
    line-height: 30px;
}

.hero-section-text3{
    font-family: MuseoSans300;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border-radius: 12px;
    background: #96151D;
    max-width: 770px;
    padding: 10px;
    margin-top: 40px;
}

.arrow{
    padding-top: 50px;
}

.section1-text1{
    font-family: MuseoSans300;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: #000000;
    margin: auto;
    max-width: 400px;
    padding-top: 57px;
}

.text-96151D{
    color: #000000;
    font-weight: bold;
}

.section2{
    background-image: url(../images/section2-bg.png);  
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 85px;
}

.section2-heading{
    font-family: MuseoSans300;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
    color: #000000;
    padding-top: 60px;
}

.section2-text1{
    font-family: MuseoSans300;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: #000000;
    margin: auto;
    max-width: 674px;
    text-align: left;
    padding-top: 30px;
}

.section2-box{
    border-radius: 30px;
    background: #ffffff;
    display: inline-block;
    border: 1px solid #96151d;
    padding: 30px 32px;
    margin-top: 80px;
    position: relative;
}

.section2-icon img{
    width: 122px;
    position: absolute;
    top: 0;
    margin-top: -70px;
}

.section2-icon{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3-text1{
    font-family: MuseoSans300;
    font-size: 23px;
    font-weight: normal;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.text-E00085{
    color: #E00085;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section4-text1{
    font-family: MuseoSans500;
    font-size: 24px;
    font-weight: normal;
    line-height: 46px;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.section4{
    background-image: url(../images/section4-bg.png);  
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    text-align: center;
}

.section4-text2{
    font-family: MuseoSans300;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #000000;
    text-align: left;
    margin: auto;
    max-width: 762px;
}

/* play pause style  */

.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.cb-video-container {
    position: relative;
    width: 600px !important;
    border-radius: 30px;

}
.cb-video-container video{
    width: 600px !important;
    min-height: 320px !important;
    border-radius: 30px;

}
.play-pause--click-area {
    width: 100%;
    height: 98%;
    top: 0;
    position: absolute;
    border-radius: 30px;
}
.play-pause--container {
    position: relative;
    width: 30px;
    height: 30px;
}
.play-pause--container .play-pause--icon {
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.play-pause--container .play-icon {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 15px;
    border-top-width: 15px;
    border-left: 25px solid #fff;
}
.play-pause--container .pause-icon {
    background-color: #fff;
    width: 10px;
    height: 30px;
    left: -10px;
    position: absolute;
}
.play-pause--container .pause-icon:after {
    content: '';
    background: inherit;
    width: 10px;
    height: 30px;
    left: 15px;
    position: absolute;
}

.section4-anchor a{
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.section4-anchor a:hover{
    color: #000000;
    font-weight: bold;
}

.section4-img img{
    width: 68%;
    padding-top: 40px;
}

.section4-head{
    border-radius: 30px;
    background: #ffffff;
    display: inline-block;
    border: 1px solid #96151d;
    padding: 40px 70px;
    margin-top: 60px;
}

.video-section{
    justify-content: center;
    display: flex;
    padding-top: 40px;
}

.section5-text1{
    font-family: MuseoSans300;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: #000000;
    margin: auto;
    max-width: 296px;
    text-align: left;
    padding-top: 30px;
}

.section5-loginbtn a{
    font-family: MuseoSans300;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.section5-loginbtn{
    border-radius: 8px;
    background: #96151d;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 23px;
}

.section5-heading{
    font-family: MuseoSans300;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #000000;
    padding-top: 60px;
    text-align: center;
}

.section5-flex{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.section5-loginbtn a:hover{
    color: #fff;
}

.section6-heading{
    font-family: MuseoSans300;
    font-size: 22px;
    font-weight: bold;
    color: #96151d;
}

.section6-social{
    display: flex;
    gap: 20px;
}

.section6{
    padding-top: 90px;
    position: relative;
}

.section7-heading{
    font-family: MuseoSans500;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.section7{
    padding-top: 20px;
}

.section7-link{
    max-width: 170px;
    padding-bottom: 10px;
}

.section7-img{
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.section7-img .img1 img{
    width: 90px;
}

.section7-img .img2 img{
    width: 100px;
}

.section7-link a{
    font-family: MuseoSans300;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.section7-link a:hover{
    color: #000000;
}

.footer-section{
    background: #f9f9f9;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 63px;
}

.footer-heading img{
    width: 100px;
    margin-top: 40px;
}

.footer-heading{
    padding-bottom: 40px;
}

.footer-paragraph a:hover,
.footer-paragraph a,
.footer-paragraph{
    font-size: 14px;
    color: #000;
    font-family: MuseoSans300;
    padding-top: 10px;
}

.text-underline{
    text-decoration: underline;
}

.footer-seciton1{
    display: flex;
    gap: 25px;
    padding-bottom: 20px;
}

.peo-img{
    position: absolute;
    top: 62px;
    text-align: center;
}

.sectoin6-div{
    display: flex;
    gap: 20px;
    /* border-bottom: 1px solid #dcdcdc; */
    padding-bottom: 10px;
}

.modal-footer .btn-primary:focus,
.modal-footer .btn-primary,
.modal-footer .btn-primary:hover{
    background: #96151d !important;
    color: #fff;
    border-color:#96151d;
    box-shadow: none !important;
}
@media screen and (max-width:767px) {

.peo-img img{
    width: 100%;
}

.header-logo,
.footer-seciton1{
    flex-wrap: wrap;
}

.section4-text2{
    max-width: 300px;
    margin: 0;
}

.cb-video-container,
.cb-video-container video{
    width: 284px !important;
    min-height: 100% !important;
}

.header-logo img{
    width: 137px;
}

.hero-seciton{
    min-height: 0px;
    background-size: 100% 100%;
}

.hero-section-text1{
    font-size: 24px;
}

.hero-section-text2{
    font-size: 40px;
}

.hero-section-text3{
    max-width: 322px;
}

.hero-seciton{
    min-height: 0px;
    background-size: cover;
    background-position: -211px 0px;
}

.arrow{
    padding-bottom: 20px;
}

.section1-text1{
    max-width: 313px;
    padding-bottom: 30px;
}

.section2-heading{
    margin: auto;
    max-width: 300px;
}

.section4,
.section2{
    background-size: 100% 100%;
}

.section2-text1{
    max-width: 274px;
}

.section3{
    flex-wrap: wrap;
    padding-top: 30px;
}

.section4-head{
    padding: 30px 16px;
    margin-bottom: 40px;
}

.section5-flex{
    flex-wrap: wrap;
}

.sectoin6-div{
    flex-direction: column;
    gap: 0px;
}

.mob-flex-footer{
    display: flex;
    gap: 60px;
}

.footer-section .container {
    max-width: 344px;
}


.footer-paragraph{
    font-size: 14px;
}

.section2-box{
    padding: 30px 10px;
}

.section6 {
    padding-top: 40px;
}

.section3-text1{
    font-size: 18px;
}

.section7-link{
    padding-bottom: 7px;
}

.section6-heading{
    padding-left: 10px;
}
}
